# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#ignore temp files
*~

#ignore java (junk) files
*.class

# Package Files #
*.jar
*.war
*.ear
